<!DOCTYPE html>
<html>
    <head>
        <title>Proposta de Crédito</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
            crossorigin="anonymous">
        <link rel="stylesheet" href="css/estilo.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="js/controllers/propostaCreditoController.js"></script>
        <script src="js/services/propostaCreditoService.js"></script>
    </head>
    <body ng-app="propostaCredito" ng-controller="propostaCreditoController">
        <div class="jumbotron">
            <h3>{{tituloPropostaCredito}}</h3>
            <input type="text" ng-model="proposta.nome" placeholder="Nome" class="form-control">
            
            <input type="text" ng-model="proposta.cpf" placeholder="CPF" class="form-control">
            
            <input type="number" ng-model="proposta.idade" placeholder="Idade" class="form-control">
            
            <input type="text" ng-model="proposta.sexo" placeholder="Sexo" class="form-control">
            
            <input type="text" ng-model="proposta.estadoCivil" placeholder="Estado Civil" class="form-control">
        
            <input type="text" ng-model="proposta.estado" placeholder="Estado" class="form-control">
                
            <input type="number" ng-model="proposta.dependentes" placeholder="Dependentes" class="form-control">
                
            <input type="number" ng-model="proposta.renda" placeholder="Renda R$" class="form-control">
            
            <input type="button" ng-click="cadastrarProposta(proposta)" value="Cadastrar" class="btn btn-primary">
                
            <table class="table table-striped">
                <thead>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>Sexo</th>
                    <th>Estado Civil</th>
                    <th>Estado</th>
                    <th>Dependentes</th>
                    <th>Renda R$</th>
                    <th>Resultado Análise</th>
                    <th>Limite</th>
                </thead>
                <tbody ng-repeat="proposta in propostas">
                    <td>{{proposta.nome}}</td>
                    <td>{{proposta.idade}}</td>
                    <td>{{proposta.sexo}}</td>
                    <td>{{proposta.estadoCivil}}</td>
                    <td>{{proposta.estado}}</td>
                    <td>{{proposta.dependentes}}</td>
                    <td>{{proposta.renda}}</td>
                    <td>{{proposta.resultadoAnalise.aprovado ? 'APROVADO' : 'NEGADO'}}</td>
                    <td>{{proposta.resultadoAnalise.aprovado ? proposta.resultadoAnalise.limiteCredito : proposta.resultadoAnalise.motivoNegacao}}</td>
                </tbody>
            </table>
        </div>    
    </body>
</html>