<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">  
        <title>Proposta de Crédito</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
            crossorigin="anonymous">
        <link rel="stylesheet" href="css/estilo.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="js/controllers/propostaCreditoController.js"></script>
        <script src="js/services/propostaCreditoService.js"></script>
        <script src="lib/angular/angular-locale_pt-br.js"></script>
        <script src="https://igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js"></script>
    </head>
    <body ng-app="propostaCredito" ng-controller="propostaCreditoController">
        <div class="jumbotron">
            <h3>{{tituloPropostaCredito}}</h3>
            <form name="propostaForm">
                <!-- CAMPO NOME-->
                <input type="text" ng-model="proposta.nome" name="nome" placeholder="Nome" class="form-control" ng-required="true" ng-minlength="3" ng-maxlength="70">
                <div ng-show="propostaForm.nome.$error.required && propostaForm.nome.$dirty" class="alert alert-danger">
                    Por favor, preencha o campo Nome!    
                </div>
                <div ng-show="propostaForm.nome.$error.minlength" class="alert alert-warning">
                    O campo Nome deve ter 3 caracteres no mínimo!    
                </div>
                <div ng-show="propostaForm.nome.$error.maxlength" class="alert alert-warning">
                    O campo Nome deve ter 100 caracteres no máximo!    
                </div>
                
                <!-- CAMPO CPF-->
                <input type="text" ng-model="proposta.cpf" name="cpf" placeholder="CPF" class="form-control" ng-required="true">
                <div ng-show="propostaForm.cpf.$invalid && propostaForm.cpf.$dirty" class="alert alert-danger">
                    Por favor, preencha o campo CPF!    
                </div>
                
                <!-- CAMPO IDADE-->
                <input type="number" ng-model="proposta.idade" name="idade" placeholder="Idade" class="form-control" ng-required="true" ng-min="16">
                <div ng-show="propostaForm.idade.$error.required && propostaForm.idade.$dirty" class="alert alert-danger">
                    Por favor, preencha o campo Idade!    
                </div>
                <div ng-show="propostaForm.idade.$error.min" class="alert alert-warning">
                    Idade mínima permitida: 16 anos    
                </div>
                
                <!-- CAMPO SEXO-->
                <select ng-model="proposta.sexo" ng-options="sexo.cod as sexo.nome for sexo in sexos" name="sexo" class="form-control" ng-required="true">
                    <option value="">Sexo</option>
                </select>   
                <div ng-show="propostaForm.sexo.$invalid && propostaForm.sexo.$dirty" class="alert alert-danger">
                    Por favor, preencha o Sexo!    
                </div>
               
                <!-- CAMPO ESTADO CIVIL-->
                <select ng-model="proposta.estadoCivil" ng-options="estadoCivil.cod as estadoCivil.nome for estadoCivil in estadosCivis" name="estadoCivil" class="form-control" ng-required="true">
                    <option value="">Estado Civil</option>
                </select>   
                <div ng-show="propostaForm.estadoCivil.$invalid && propostaForm.estadoCivil.$dirty" class="alert alert-danger">
                    Por favor, preencha o Estado Civil!    
                </div>
            
                <!-- CAMPO ESTADO-->
                <select ng-model="proposta.estado" ng-options="estado.nome as estado.nome for estado in estados" name="estado" class="form-control" ng-required="true">
                    <option value="">Estado</option>
                </select>   
                <div ng-show="propostaForm.estado.$invalid && propostaForm.estado.$dirty" class="alert alert-danger">
                    Por favor, preencha o campo Estado!    
                </div>

                <!-- CAMPO DEPENDENTES-->
                <input type="number" ng-model="proposta.dependentes" name="dependentes" placeholder="Dependentes" class="form-control" ng-required="true" ng-min="0">
                <div ng-show="propostaForm.dependentes.$error.required && propostaForm.dependentes.$dirty" class="alert alert-danger">
                    Por favor, preencha o campo Dependentes!    
                </div>
                <div ng-show="propostaForm.dependentes.$error.min" class="alert alert-warning">
                    Número mínimo de dependentes: 0    
                </div>

                <!-- CAMPO RENDA-->
                <input type="number" ng-model="proposta.renda" name="renda" placeholder="Renda R$" class="form-control" ng-required="true" ng-min="0">
                <div ng-show="propostaForm.renda.$error.required && propostaForm.renda.$dirty" class="alert alert-danger">
                    Por favor, preencha o campo Renda!    
                </div>
                <div ng-show="propostaForm.renda.$error.min" class="alert alert-danger">
                    A renda não pode ser negativa!    
                </div>    
                <input type="button" ng-click="cadastrarProposta(proposta)" value="Cadastrar" class="btn btn-primary" ng-disabled="propostaForm.$invalid">
            </form>
            <hr />
            <input type="text" ng-model="filtroCpf" placeholder="Busque pelo CPF" class="form-control">
            <button class="btn btn-secondary" ng-click="buscarPropostaPorCpf(filtroCpf)" type="button">Buscar!</button>
        
            <table class="table table-striped">
                <thead>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>Sexo</th>
                    <th>Estado Civil</th>
                    <th>Estado</th>
                    <th>Dependentes</th>
                    <th>Renda R$</th>
                    <th>Resultado Análise</th>
                    <th>Limite</th>
                </thead>
                <tbody ng-repeat="proposta in propostas">
                    <td>{{proposta.nome}}</td>
                    <td>{{proposta.idade}}</td>
                    <td>{{proposta.sexo}}</td>
                    <td>{{proposta.estadoCivil}}</td>
                    <td>{{proposta.estado}}</td>
                    <td>{{proposta.dependentes}}</td>
                    <td>{{proposta.renda | currency}}</td>
                    <td>{{proposta.resultadoAnalise.aprovado ? 'APROVADO' : 'NEGADO'}}</td>
                    <td>{{proposta.resultadoAnalise.aprovado ? proposta.resultadoAnalise.limiteCredito : proposta.resultadoAnalise.motivoNegacao}}</td>
                </tbody>
            </table>
        </div>
        <div class="footer">
            Criado por Matheus Tabares
        </div>    
    </body>
</html>