<!DOCTYPE html>
<html>
    <head>
        <title>Proposta de Crédito</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="controller.js"></script>
    </head>
    <body>
        <div ng-app="mainApp" ng-controller="PropostaCreditoController">
            <table>
                <tr>
                    <td>Nome</td>
                    <td><input type="text" ng-model="Nome"></td>
                </tr>
                <tr>
                    <td>CPF</td>
                    <td><input type="text" ng-model="Cpf"></td>
                </tr>
                <tr>
                    <td>Idade</td>
                    <td><input type="number" ng-model="Idade"></td>
                </tr>
                <tr>
                    <td>Sexo</td>
                    <td><input type="text" ng-model="Sexo"></td>
                </tr>
                <tr>
                    <td>Estado Civil</td>
                    <td><input type="text" ng-model="EstadoCivil"></td>
                </tr>
                <tr>
                    <td>Estado</td>
                    <td><input type="text" ng-model="Estado"></td>
                </tr>
                <tr>
                    <td>Dependentes</td>
                    <td><input type="number" ng-model="Dependentes"></td>
                </tr>
                <tr>
                    <td>Renda R$</td>
                    <td><input type="number" ng-model="Renda"></td>
                </tr>
                <tr>
                    <td><input type="button" ng-click="cadastrarProposta()" value="Cadastrar"></td>
                </tr>
            </table>

            <table border="1" style="width:300px;">
                <thead>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>Sexo</th>
                    <th>Estado Civil</th>
                    <th>Estado</th>
                    <th>Dependentes</th>
                    <th>Renda R$</th>
                    <!--<th>Resultado Análise</th>
                    <th>Limite</th>-->
                </thead>
                <tbody ng-repeat="proposta in propostas">
                    <td>{{proposta.nome}}</td>
                    <td>{{proposta.idade}}</td>
                    <td>{{proposta.sexo}}</td>
                    <td>{{proposta.estadoCivil}}</td>
                    <td>{{proposta.estado}}</td>
                    <td>{{proposta.dependentes}}</td>
                    <td>{{proposta.renda}}</td>
                    <!--<td>{{proposta.resultadoAnalise}}</td>
                    <td>{{}}</td>-->
                </tbody>
            </table>
        </div>    
    </body>
</html>